@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap');

ol, li, button {
    font-family: "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:rgb(23, 21, 32);
}

.header {
    background-image: linear-gradient(#0099FF, #00BBFF, #00cee9, #00E8B9);
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color:rgb(23, 21, 32);
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    display:flex;
    position: fixed;
    top:0;

    z-index: 2;
} 

.navbar-brand {
    font-size: 25px;
}

.nav-item {
    font-size: 18px;
}

.btn {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
}
.content {
    font-family: "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color:rgb(23, 21, 32);
    position: relative;
    padding-top: 50px;
    padding-bottom:40px;
    padding-left: 325px;
    top:100px;
    z-index: 1;
}

.form {
    width: 250px;
}

.container {
    padding-top: 50px;
}

.form-group {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 50px;
}

.table {
    width: 70%;
}

.btn {
    padding: .5rem 5rem;
}

.card-img-top {
    padding: 20px;
}

.footer-basic {
    background-image: linear-gradient(#0099FF, #00BBFF, #00cee9, #00E8B9);
    position:fixed;
    bottom:0;
    height: auto;
    width:100%;
    color: white;
    text-align: center;
    z-index: 2;
    display: flex; 
    justify-content: space-between; 
}


.list-inline, .social, .copyright {
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}




